aplikasi-manajemen-peserta-jaxws-client-web/src/wsdl/localhost_8080/aplikasi-manajemen-peserta-jaxws/ManajemenPesertaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://peserta.aplikasi/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://peserta.aplikasi/" name="ManajemenPesertaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://peserta.aplikasi/" schemaLocation="http://localhost:8080/aplikasi-manajemen-peserta-jaxws/ManajemenPesertaWS?xsd=1" />
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="findPesertaByNomerPeserta">
<part name="parameters" element="tns:findPesertaByNomerPeserta" />
</message>
<message name="findPesertaByNomerPesertaResponse">
<part name="parameters" element="tns:findPesertaByNomerPesertaResponse" />
</message>
<message name="simpan">
<part name="parameters" element="tns:simpan" />
</message>
<message name="simpanResponse">
<part name="parameters" element="tns:simpanResponse" />
</message>
<message name="countSemuaPeserta">
<part name="parameters" element="tns:countSemuaPeserta" />
</message>
<message name="countSemuaPesertaResponse">
<part name="parameters" element="tns:countSemuaPesertaResponse" />
</message>
<message name="findSemuaPeserta">
<part name="parameters" element="tns:findSemuaPeserta" />
</message>
<message name="findSemuaPesertaResponse">
<part name="parameters" element="tns:findSemuaPesertaResponse" />
</message>
<portType name="ManajemenPesertaWS">
<operation name="hello">
<input wsam:Action="http://peserta.aplikasi/ManajemenPesertaWS/helloRequest" message="tns:hello" />
<output wsam:Action="http://peserta.aplikasi/ManajemenPesertaWS/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="findPesertaByNomerPeserta">
<input wsam:Action="http://peserta.aplikasi/ManajemenPesertaWS/findPesertaByNomerPesertaRequest" message="tns:findPesertaByNomerPeserta" />
<output wsam:Action="http://peserta.aplikasi/ManajemenPesertaWS/findPesertaByNomerPesertaResponse" message="tns:findPesertaByNomerPesertaResponse" />
</operation>
<operation name="simpan">
<input wsam:Action="http://peserta.aplikasi/ManajemenPesertaWS/simpanRequest" message="tns:simpan" />
<output wsam:Action="http://peserta.aplikasi/ManajemenPesertaWS/simpanResponse" message="tns:simpanResponse" />
</operation>
<operation name="countSemuaPeserta">
<input wsam:Action="http://peserta.aplikasi/ManajemenPesertaWS/countSemuaPesertaRequest" message="tns:countSemuaPeserta" />
<output wsam:Action="http://peserta.aplikasi/ManajemenPesertaWS/countSemuaPesertaResponse" message="tns:countSemuaPesertaResponse" />
</operation>
<operation name="findSemuaPeserta">
<input wsam:Action="http://peserta.aplikasi/ManajemenPesertaWS/findSemuaPesertaRequest" message="tns:findSemuaPeserta" />
<output wsam:Action="http://peserta.aplikasi/ManajemenPesertaWS/findSemuaPesertaResponse" message="tns:findSemuaPesertaResponse" />
</operation>
</portType>
<binding name="ManajemenPesertaWSPortBinding" type="tns:ManajemenPesertaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="findPesertaByNomerPeserta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="simpan">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="countSemuaPeserta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="findSemuaPeserta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ManajemenPesertaWS">
<port name="ManajemenPesertaWSPort" binding="tns:ManajemenPesertaWSPortBinding">
<soap:address location="http://localhost:8080/aplikasi-manajemen-peserta-jaxws/ManajemenPesertaWS" />
</port>
</service>
</definitions>